




        .back-main-img{
            max-width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            // height: 100vh;
            height: 52rem;
            background-image: url('../images/info-page-img/coffee-mug-with-code.jpg');

            @media (min-width:1280px) {
                height: 50.7rem;
            }

            @media (min-width:1500px) {
                height: 60.7rem;
            }

            
            @media (min-width:1900px) {
                height: 70.6rem;
            }

            @media (max-width:1084px) {
                height: 43rem;
            }

            @media (max-width:991px) {
                height: 100vh;
            }


            
            @media (max-width:768px) {
                height:600px;

                // display: none;
            }

            @media (max-width:600px) {
                height:400px;

                // display: none;
            }

            @media (max-width:494px) {
                height:320px;

                // display: none;
            }


        }


      


        .info-data{
            text-align: inherit !important;
            align-items: baseline !important;


            .info-front{
                border-top: 2px solid rgb(84, 165, 231);
                width: 60%;
            }


            @media (max-width:991px){
                padding: 60px;
            }
            
            @media (min-width:1280px){
                padding: 60px !important;
            }
        }

        .comman-info{
            background: linear-gradient(-60deg,#9038ce,#ec43ef,#9038ce,#ec43ef);
            background-size: 300%;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }





