*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;

    
  
    P{
        margin: 0;  
        padding: 0;
    }

}
body{
    overflow-x: hidden;
}


.main-container{
    .discount-info{
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        margin-top: 5px;
    }

    .mac-book-air{
        text-align: center;
       
        .img{
            width:40%;
            margin: 0 auto;
            img{
                width: 100%;
                background-size: cover;
            }
    
        }
       
        .data-mac-book{
            margin: 30px 0;

            .para-new{
                color: #f56300;
                font-size: 2rem;
                margin: 0;
            }

            .dont-copy{
                font-size: 2.3rem;
                font-weight: 500;
                
            }

            .pricing{
                font-size: 1.5em;
                color: gray;
                
            }

            .button-mac{
                margin-top: 20px;
                
                .view-pricing{  color: #fff;
                    font-size: 1.8rem;
                    padding: 4px 25px;
                    border-radius: 29px;
                    border: 1px solid #fff;
                    background-color: #0071e3;
                    margin-right:15px;
                }
                a{
                    // color: #fff;
                    font-size: 1.8rem;
                }
            }

            .available-para{
                  padding: 10px 0;
            }

            @media (max-width:540px) {
                .air-head{
                    font-weight: 400;
                    font-size: 3.5rem;
                    font-family: 'Courier New', Courier, monospace;
                }
                .dont-copy{
                    font-size: 2rem;
                    font-weight: 400;
                }

                .button-mac{
                    .view-pricing,a{
                        font-size: 1.3rem;
                    }
                }

                
               
            }
        } 

        @media (max-width:540px) {
            .img{
                width:60%;
                img{
                    width: 100%;
                }
            }
        }
    }
}


/* ===================================

   frist img end here

=====================================*/

   
   .shoping-containt{
    width: 90%;
    margin:  0 auto;
    background-color: rgb(250, 250, 250);
  

    .heading{
        text-align: center;
        margin-top: 30px;

        .air-head{
            font-weight: 500;
        }
    }

    .not-book{
        text-align: center;
        margin: 50px 0 10px 0;
        a{ text-decoration: none;
           display: inline-block;
           margin-left: 30px;
           font-size: 2.5rem;
           border-bottom:1px solid gray;
           color: #000;
        }

    }


    .product-body{
        display: flex;
        width: 100%;

        .main-row-one{
            width: 50%;
            display: flex;
            
                
                .row-one{
                    width: 50%;
                    text-align: center;
                    padding: 10px 0;

                    .img-mac{
                        background-image: url("../images/mac-img/product-img/compare_mba__fchj615oz0yi_large.png");
                    }

                    .img-mac-2{
                        background-image: url("../images/mac-img/product-img/col-2/compare_mbam2__bdesjk99hf4i_large-col-2.png");
                    }
                    
                    .img-row-3{
                        background-image: url("../images/mac-img/product-img/compare_mba__fchj615oz0yi_large.png");
                    }
                    
                    .img-row-4{
                        background-image:url(../images/mac-img/product-img/col-4/compare_mbp14_and_16__f2dhysusb5im_large.png);
                    }
                    .not-heding{
                        font-size: 2.4rem;
                       margin: 10px 0;
                    }
        
                    .noot-chip,.note-para{
                    
                        color: gray;
                       }
                       
                       .para-btn{
                        margin: 15px 0;
                        p{
                            margin: 10px 0;
                            .noot-buy{
                                background-color: #0071e3;
                                padding: 8px 15px;
                                color: #fff;
                                border-radius: 15px;
                                font-size: 1.2rem;
                             }
                            .noot-Learn{
                                margin-top: 5px;
                            }
                         } 
                       }
                    
                        a{
                            text-decoration: none;
                        }
                        .new-1{
                             color: #f56300; 
                       }

                        .info-display{
                            margin:0 auto;
                            border-top: 1px solid gray;
                            padding: 30px 0;
                            width: 90%;

                            .disply-hedding{
                                font-size: 2.3rem;
                                font-weight: 600;
                            }

                            .info-para{
                                font-size: 1.5rem;
                            }
                        }

                        .chip-last{
                            .apple-chip{
                                padding-top: 5px;
                                }
                        }

                      
                       
                        .main-cpu{
                            margin-top: 50px;
                            h2{
                                font-weight: 550;
                                font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
                            }
                        }

                        .col-chip{
                            padding-top: 60px;
                        }

                        .chip-last{
                            margin-top: 28px;
                        }

                        .new-gpu{
                            margin-top: 50px;
                        }

                        .new-memory{
                            margin-top: 54px;
                        }

                        .new-memory-last{
                            margin-top: 40px;
                        }

                        

                        .touch{
                            padding-bottom: 20px;
                           .para-touch{
                            width: 80%;
                            margin: 0 auto;
                            border-bottom: 1px solid gray;
                            padding-bottom: 40px;
                           } 
                        }

                        @media (max-width:415px) {
                            .img-mac,.img-row-3,.img-row-3,.img-row-4{
                                display: none;
                                img{
                                    display: none;
                                }
                            }
                            .img-mac,.img-row-3{
                                background-image: url("../images/mac-img/product-img/compare_mba__fchj615oz0yi_small_2x-respomsive-1-3.png");
                                display: block;
                            }
    
                            .img-row-2{
                                background-image: url("../images/mac-img/product-img/col-2/compare_mbam2__bdesjk99hf4i_small_2x-responsive.png");
                                display: block;
                            }
                           
                            .img-row-4{
                                background-image: url("../images/mac-img/product-img/col-4/compare_mbp14_and_16__f2dhysusb5im_small_2x-responsive.png");
                                display: block;
                                height: 144px;
                                
                            }
                          }
                       }   
                    }
                }
            }
   
    @media (max-width:1024px) {
        .shoping-containt{
            width: 100%;

            .product-body{
                display: block;
     
                 .main-row-one{
                     width: 90%;
                     margin: 0 auto;
    
                     .row-one {
                        .img-apple-chip {
                            margin-top: 0px;
                        }

                        .cpu-top{
                            padding-top: 32px;
                        }

                        .col-chip{
                            padding-top: 30px;
                        }
                    } 
                 }
             
         }
      }
    }


    @media (max-width:540px) {

        .shoping-containt{
            width: 100%;


            .product-body{
                .main-row-one{
                    .row-one{
                        .responsive-chip{
                            padding-top: 52px;
                        } 
                        
                        .info-display{
                            .disply-hedding{
                                font-size: 2rem;
                            }
                        }
                      }
                    }
                }
            }
        
    }

    @media (max-width:415px) {
        .shoping-containt{
            width: 100%;

            .product-body{
                .main-row-one{
                    display: block;

                    .row-one{
                        width: 80%;
                        margin: 0 auto;
                    }
               }
            }
           
        
        }
    }


    .main-mac-models{
        width: 100%;
        text-align: center;
        margin: 20px  0;
        padding: 40px 0;

        a{
            font-size: 2rem;
        }

        .shop-mac{
            padding-left: 40px;
        }
    }

    @media (max-width:415px) {
        .main-mac-models{
            width: 80%;
            text-align: center;
            margin: 20px auto;

            a{
                font-size: 1.5rem;
            }
        }
    }

    /* ===================================

       info section end here
      
    =====================================*/

    .shop-education{
        width: 95%;
        margin: 0 auto;
        padding: 20px 0;
        background:  #f2f2f2;
        display: flex;

        .banner-data{
              width: 40%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-left: 50px;
              margin:0 auto;

            .banner-university{
                font-size: 4rem;
            }

            .discount-headline{
                font-size: 3rem;
                padding: 10px 0;
            }

            .airpods-plus {
                font-size: 2rem;
                color: #ca2266;;
                padding: 15px 0;
            }

            .shop-btn{
                font-size: 1.8rem;
                
            }
        }

        .banner-image{
            background-image: url("../images/mac-img/education-discount/bts22_gc_familypage_mac__ewtz77ni2p6q_large.jpg");
            width: 50%;
            height: 600px;
            background-repeat: no-repeat;
            margin:0 auto;
            background-size: cover;
        }
   
        
        @media (min-width:1920px) {
            .banner-image{  
            display: none;
            display: block;
            background-image: url("../images/mac-img/education-discount/bts22_gc_familypage_mac__ewtz77ni2p6q_large_2x-responsive-1920px.jpg");
            width: 50%;
            height: 790px;
        }

        .banner-data{
            .banner-university{
                font-size: 5rem;
            }

            .discount-headline{
                font-size: 4rem;
            }

            .airpods-plus {
                font-size: 3rem;
            }

            .shop-btn{
                font-size: 2.8rem;
                
            }
        }
    }


        @media (max-width:1024px) {
            .banner-image{ 
                display: none;
                display: block;
                background-image: url("../images/mac-img/education-discount/bts22_gc_familypage_mac__ewtz77ni2p6q_medium_2x-responsive-1024px.jpg");
                width: 50%;
                height: 490px;
            }

            .banner-data{
                .banner-university{
                    font-size: 3.5rem;
                }
    
                .discount-headline{
                    font-size: 2.5rem;
                }
    
                .airpods-plus {
                    font-size: 2rem;
                }

                .shop-btn{
                    font-size: 2rem;
                    
                }
            }
        }

        @media (max-width:1024px) {
            .banner-data{
                .banner-university{
                    font-size: 3rem;
                }
            }
        }

        @media (max-width:768px) {
            .banner-data{
                width: 50%;
                margin: 0;
                padding-left: 27px;
            }
        }

}

@media (max-width:540px) {

    .shop-education{
        width: 95%;
        display: block;

        .banner-data{
            width: 80%;
            text-align: center;
            margin: 0 auto;
            padding-bottom: 30px;
        }

        .banner-image{ 
            display: none;
            display: block;
            background-image: url("../images/mac-img/education-discount/bts22_gc_familypage_mac__ewtz77ni2p6q_small_2x-responsive-540px.jpg");
            width: 80%;
            height: 320px;
            background-position: bottom;
        }

        @media (max-width:393px) {
            .banner-data{
                .banner-university{
                    font-size: 2.5rem;
                }
    
                .discount-headline{
                    font-size: 2rem;
                }
    
                .airpods-plus,.shop-btn {
                    font-size: 1.5rem;
                }

            }

            .banner-image{
                height: 280px;
            }
        }
    }
   
}   


/* ===================================

   education img end here

=====================================*/



      .main-mac-explore{
           width: 95%;
           margin: 30px auto;
           padding: 20px 0;
           background:  #f2f2f2;
           text-align: center;

           .data-exolore{
                 margin-top: 20px;

                 .data-hrdding{
                       font-size: 3rem;
                 }
                 .hedline-explore{
                    font-size: 4rem;
                    font-weight: 600;
                 }
           }

           .button-explore{
                 button{
                    padding: 8px  13px;
                    margin: 10px 0;
                    border-radius: 20px;
                    background-color: #0071e3;
                    border: 1px solid #f2f2f2;
                    a{
                        font-size: 1.5rem;
                        color: #fff;
                        text-decoration: none;
                    }
                 }
           }

           .image-explore{
                margin-top: 20px;
                img{
                   width: 100%;
                   background-size: cover;

                }
           }

           @media (max-width:540px) {
            .data-exolore{
                .data-hrdding{
                      font-size: 2rem;
                }
                .hedline-explore{
                   font-size: 3rem;
                }
            }

            .button-explore{
                button{

                    a{
                        font-size: 1rem;
                    }
                }
            }
           }
      }

      /* ===================================

       explore section end here

     =====================================*/


     .info-method{
        width: 95%;
        margin: 40px auto;
        display: flex;

        .delivery{
            width: 33%;
            margin: 0 auto;
            text-align: center;

            img{
                max-width: 44px;
            }

            h5,p{
                font-size: 2rem;
            }

            p{
                 padding:5px 0;
            }
            a{
                font-size: 1.5rem;
            }
        }

        @media  (max-width:991px){
            .delivery{
                h5{
                    font-size: 2rem;
                }
    
                p{ 
                      font-size: 1.5rem;
                }
            
            }
        }
     }

     @media (max-width:540px) {
        .info-method{
            display: block;
            text-align: center;

            .delivery{
                margin: 20px auto;
                width: 80%;
            }
        }
     }



     .just-heding{
        width: 80%;
        margin: 30px auto;
        text-align: center;

        h1{
            font-size: 5rem;
            font-weight:600;
        }
        @media (max-width:820px) {
            h1{
                font-size: 4rem;
            }
        }

        @media (max-width:540px) {
            h1{
                font-size: 3.5rem;
            }
        }
     }



     .incredible-main{
        width: 95%;
        margin: 0 auto;
        display: flex;

        .main{
                text-align: center;
                width: 45%;
                background-color: #fafafa;
                padding: 20px 0;
                margin: 0 auto;
                border-radius: 10px;


         .img-power{
            width: 100%;
            text-align: center;
            h5{
                font-size: 2.5rem;
              }
            h1{
                font-size: 4rem;
                font-weight: 600;
             }

             a{
                font-size: 1.5rem;
                margin-top: 10px;
             }
         }

           .mac-img{
                    padding-top: 30px;
                    img{
                        width: 100%;
                        background-size: cover;
                    }
                    
                    .power-img{
                        width: 80%;
                    }
                 }

                 @media (max-width:820px){
                    .img-power{
                      
                        h5{
                            font-size: 2rem;
                          }
                        h1{
                            font-size: 2.5rem;
                         }
                         a{
                            font-size: 1.5rem; 
                         }
                     }
    
                }
            }
        }


        @media (max-width:540px){
            .incredible-main{
                display: block;

                .main{
                    text-align: center;
                    width: 80%;
                    margin-top:  20px;
                }
            }
        }
  /* ===================================

       incredible section end here

     =====================================*/


        .main-smarter{
            width: 95%;
            margin: 30px auto;
            display: flex;

            .smarter{
                width: 40%;
                flex-direction: column;
                background-color: #fafafa;

                h4{
                    font-size: 2rem;

                }
                h1{
                    font-size: 4rem;

                    @media (max-width:820px) {
                            font-size: 3rem;
                    }
                }
                a{
                    font-size: 1.5rem;
                }

                @media (min-width:1280px) {
                    h1{
                        font-size: 4rem;
                    }
                    h4{
                        font-size: 3rem;
                    }
                    a{
                        font-size: 2.5rem;
                    }
                }

               
            }

            .smarter-img{
                width: 60%;

                img{
                    width: 100%;
                    background-repeat: no-repeat;
                }
            }
        }


        @media (max-width:540px) {
            .miain-smarter{
                display: block;
    
                .smarter{
                    width: 100%;
                    padding: 30px 0;
                }

                .smarter-img{
                    width: 80%;
                    margin: 0 auto;
                }
            }
        }

                 /* ===================================

                      virtual section start here

                   =====================================*/


        .virtual-body{
            width: 95%;
            margin: 20px auto;
            background: #000;
            display: flex;
            border-radius: 10px;

            .info-virtual{
                width: 40%;
                margin: 10px;
                color: #fff;
                font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;


                h3,p{
                    font-size: 2rem;
                    font-weight: 500;

                }

                h1{
                    font-size: 3.5rem;
                    font-weight: 600;
                }

                a{
                    font-size: 2rem;
                    padding-top: 20px;
                }

                @media (max-width:912px) {
                      h1{
                        font-size: 2.5rem;
                      }

                      h3,p{
                            font-size: 1.7rem;
                        }

                      a{
                        font-size: 1.5rem;
                        padding-top: 10px;
                      }
                  }
              }

            .virtual-image{
                width: 60%;

                img{
                    width: 100%;
                    }

                @media (max-width:600px) {
                    img{ 
                        display: none;
                    }
                  }        

                .responsive-600px{
                    display: none;
                }

                @media (max-width:600px) {
                    .responsive-600px{
                        display: block;
                }
            }
        }
     }

    @media (max-width:600px) {
        .virtual-body{
            display: block;

            .info-virtual{
                h1{
                    font-size: 2rem;
                  }

            }

            .virtual-image{
                width: 100%;
                padding: 20px 0;

                .responsive-600px{
                    width: 100%;
                }                
            }

            .info-virtual{
                width: 100%;
                padding-top: 20px;
            }
        }
    }


          /* ===================================
           virtual section end here
 =====================================*/


    .promo-body{
        width: 95%;
        margin: 30px auto;
        background-color: #fafafa;
       
    
   .promo-main{
       width: 90%;
       display: flex;
       margin: 0 auto;
       

       .promo-img{
                text-align: center;
                width: 50%;
                padding: 50px 0;
        img{
            width: 70%;
           }

           .arcade-img{
            width: 100%;
        }
       }

       .promo-data{
        width: 60%;
        text-align: center;

        img{
            padding-bottom: 5px;
            width: 60%;
        }

        p,span{
            font-size: 3rem;
        }

        @media (max-width:912px) {
            p,span{
                font-size: 2.5rem;
            }
        }

        .links-inline{
                    margin-top: 10px;
            li{
               display: inline-block;
              
               a{
                 font-size: 2rem;
                 padding-left: 20px;
               }
            }
         }
       }
   }

   @media (max-width:738px) {
    .promo-main{
        display: block; 

        .promo-img{
            text-align: center;
            width: 100%;

            img{
                width: 50%;
            }
        }

        .promo-data{
            width: 100%;
            text-align: center;

            p,span{
                font-size: 2rem;
            }

            img{
                width: 40%;
                padding-bottom: 30px;
            }
          }
        }
      }
    }


 /* ===================================

     promo section end here

=====================================*/


.business-body{

         width: 95%;
         margin: 30px auto;
         background-color: #fafafa;

    .bussines{
        background-image: url("../images/mac-img/last-business-section/business__dhhbnntkcwuq_large.jpg");
  
        @media (max-width:800px) {
               background-image: url('../images/mac-img/last-business-section/business-large-responsive.jpg');
          }

      
         
       }

    .bus-img-last{
        background-image: url("../images/mac-img/last-business-section/education-img-2.jpg"); 

        @media (max-width:800px) {
            
            background-image: url('../images/mac-img/last-business-section/education-img-2-responsive.jpg');
        }
       }

   h1{
        font-size: 4.5rem;
        font-weight: 600;

        @media (max-width:1024px) {
          
                font-size: 3.5rem;
            
       }
     }

      p{
        font-size: 2rem;
      }   

    ul{

       li{  
            list-style: none;
            margin-top: 10px;

        a{
            font-size: 2rem;
            color: #fff;
           
        }
    }
   }

   @media (max-width:600px) {
    h1{
        font-size: 2rem;
     }

     p{
        font-size: 1.5rem;
     }

     ul li a{
        font-size: 1.5rem;
     }
   }    
 }



