


    body{
        margin: 0;
        padding: 0;
        font-size: 62%;
    }

  .main-watch {
       background-color: #f5f5f7;
            .img-watch {
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%
            }
  } 



  .img-watch-main{
      width: 60%;

      @media (max-width:578px) {
            display: none;
      }

  }

       .responsive-hide-img{
             display: none;

             @media (max-width:578px) {
                display: block;
                width: 70%;
          }
       }
            
            .tile-watch{
                width: 80%;
              }

              .sos-main{
                height: fit-content;
              }

              .border-bt{
                    border-bottom: 1px solid #d2d2d7 !important;
                    width: 80%;
              }

            .normal{
                height: 15px;
                width: 15px;
                border-radius: 50%;
                background-color: #000;
                margin:4px;
            
            }
            .color-watch{
                margin: 0 auto;
                display: flex;
                width: 46%;
            }

            .data-watch{
                width: 80%;
                border-top:  1px solid #d2d2d7;   
            }

            .f-weight{
                font-weight: 600;
            }


            .celebrate{
                background-image: url('../images/watch-apple/apple-new/diwali-large-2x.png');
                width: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                height: 60rem;
                background-position: bottom;

                .get-chance{
                    margin-top: 20%;

                    @media (max-width:1024px) {
                        margin-top: 32%;
                    }

                    @media (max-width:700px) {
                        margin-top: 55%;
                    }
                }

             .shop-apple{
                background-color: transparent;
                outline: none;
                padding: 10px 15px;
                border-radius: 22%;
                font-size: 1.2rem;
                border: 2px solid #fff;
            }
        }   

        .watch-img{
            height: auto;
            @media (max-width:1024px) {
                 width: 80%;
            }
        }


        .main-img-airpods {
                   position: relative;
                  }

        .position-data{
            position: absolute;
            z-index: 1;
            top:110px;


            @media (min-width:1280px) {
                top: 170px;
            }

            @media (max-width:600px) {
                top: 70px;
            }
        }